input[type = "email"], input[type="password"], input[type="text"]{
    background-color: #fafafa;
    font-size: 14px;
    padding-top:  8px;
    padding-bottom: 8px;

    &:focus {
        background-color: #fafafa;
        box-shadow: none;
    }
}